body{
    font-family: sans-serif;
}

.my_light-green{
    background-color: #1abc9c;
}
.my_small_cont{
    width: 50%;
    margin: 0 auto;
}

.font-white{
    color: white;
}

.blu-delft{
    background-color: #3a546d;
}

.blu-guado{
    background-color: #2c3e50;
}
#download-btn{
    width: 150px;
    background-color: #1abc9c;
    border: 1px solid white;
}

#submit-btn{
    width: 75px;
    background-color: #1abc9c;
    border: 0;
}

.star-line{
    height: 4px;
    width: 35%;
    border-radius: 10px;
}
.fa-star{
    font-size: 150%;
}

.back-white{
    background-color: white;
}

.back-black{
    background-color: black;
}

.footer-icons i{
    width: 50px;
    height: 50px;
    border: 1px solid white;
    border-radius: 50%;
    align-content: center;
    justify-content: center;
}
#my_jumbo_cont{
    width: 400px;
    margin: 0 auto;
}
span{
    color: #1abc9c;
}