body{
    font-family: sans-serif;
}

.my_light-green{
    background-color: #1abc9c;
}
.my_small_cont{
    width: 60%;
    margin: 0 auto;
}

.font-white{
    color: white;
}

.blu-delft{
    background-color: #3a546d;
}

.blu-guado{
    background-color: #2c3e50;
}
